.hero {
  background-image: url('/images/mobile/image-header.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 69vh;

  @media (min-width: 768px) {
    background-image: url('/images/desktop/image-header.jpg');
    height: 88vh;
  }

  &__container {
    width: calc(100% - 20px * 2);
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 1.625rem;
    position: relative;
  }

  header {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    width: 110px;
    height: 24px;

    @media (min-width: 768px) {
      width: 170px;
      height: 35px;
    }
  }

  &__toggle {
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  nav {
    position: absolute;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;

    @media (min-width: 768px) {
      opacity: 1;
      visibility: visible;
      position: relative;
      width: auto;
    }

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }

  nav > div {
    position: relative;
    background: #fff;
    text-align: center;
    margin-top: 3.125rem;
    padding: 2.5rem 0 3rem;

    @media (min-width: 768px) {
      padding: 0;
      margin: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
    }
  }

  nav > div:after {
    bottom: 92%;
    right: 0;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 24px;
    margin-left: -24px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__links {
    @media (min-width: 768px) {
      display: flex;
    }

    li {
      margin-bottom: 2rem;
      font-size: 1.25rem;

      @media (min-width: 768px) {
        margin: 0;
        font-size: 1rem;
      }

      &:not(:last-child) {
        @media (min-width: 768px) {
          margin-right: 1rem;
        }

        @media (min-width: 1024px) {
          margin-right: 2.75rem;
        }
      }
    }
  }

  &__btn {
    background-color: $yellow;
    padding: 1.25rem 2rem;
    border-radius: 30px;
    font-size: 1rem;
    font-family: 'Fraunces', sans-serif;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    @media (min-width: 768px) {
      padding: 1.25rem 1.875rem;
      background-color: #fff;
      color: #000;
      border-radius: 29px;
      font-size: 0.875rem;
      margin-left: 2.75rem;
      transition: all 300ms ease-in-out;

      &:hover {
        background-color: rgb(110, 210, 250);
        color: $white;
      }
    }
  }

  &__content {
    text-align: center;
    margin-top: 4.6875rem;

    @media (min-width: 768px) {
      margin-top: 10.3125rem;
    }
  }
}
